@font-face {
    font-family: "buster";
    src: url(../a-buster-down-cufonfonts/BusterDown-ow950.otf);
}
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Montserrat:wght@200;300;400;500;700&family=Open+Sans:wght@400;700&family=Poppins:wght@300;400;500;600&family=Roboto&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* #034a3d */
/* background-color: #198754; */
/* rgba(0,67,55,.8) */
/* #116454 */
/* #e83d80  purple */
/* background-color: #d63384; */
/* background: #e83d80;
box-shadow: 0 4px 0 rgb(0 0 0 / 10%), inset 0 3px 0 rgb(255 255 255 / 25%), inset 0 -3px 0 rgb(0 0 0 / 25%); */


.home_1{
    height: auto;
    /* background-color: #116454; */
    width: 100%;
}
.home_container{
    height: 728px;
    width: 100%;
    background: url("../images/happy6.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: end;
    background-size: cover;
}

.home_login{
    width: 25%;
    height: 728px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.75);
}
.home_login select{
    width: 100%;
    font-family: Roboto;
    height: 36px;
    color: white;
    outline: none;
    padding-left: 10px;
    font-size: 14px;
    border: 1px solid #fff;
    background-color: transparent;
}
.home_login .title{
    font-family: "Open Sans";
    font-size: 24px;
    line-height: 30px;
    padding-top: 30px;
    color: #ffffff;
    text-decoration: none solid rgb(255, 255, 255);
    text-align: center;
}
.title h1{
    line-height: 50px;
    font-size: 50px;
    padding-bottom: 7px;
    font-family: "Roboto";
}
.title span{
    color: #ff9600;
}
.gen_logs{
    display: flex;
    justify-content: end;
    color: white;

}
.gen_logs > div{
    margin: 6px;
}
.gen_logs  .main_login{
    height: 30px;    font-size: 14px;
    font-family: "Roboto";
    border-radius: 20px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff9600;
}
.gen_logs  .main_signi{
    height: 30px !important;
    border-radius: 20px;
    font-size: 14px;
    font-family: "Roboto";
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff9600;
}
.home_login h4{
    text-align: right;
    color: black;
    font-size: 14px;
    line-height: 40px;
    font-weight: 700;
}
.home_container img{
   width: 100%;
   height: 100vh;
   object-fit: cover;
}
.home_hot{
    height: auto;
    width: 100%;
    padding:0px 0px;
    display: flex;
    align-items: center;
}
.home_hot img{
    height: 70vh;
    object-fit: cover;
}
.meet_text{
    font-size: 24px;
    color: white;
}
.meet_container span{
    color: #ff9600;
}
.meet_container{
    height: auto;
    padding: 30px 50px 30px 50px;
    width: 100%;
    display: flex;
    font-family: "Roboto";
    align-items: center;
    justify-content: space-between;
    color: white;
    /* border: 1px solid ; */
    background-color: #000000;
}

.home_login input{
    width: 100%;
    height: 35px;
    border: 1px solid #fff;
    background-color: transparent;
}

.home_login p{
    font-size: 16px;
    color: white;
    line-height: 33px;
    font-family: "Roboto";
}
.login_names{
    padding-top: 10px;
}
.home_login input::placeholder{
    color: white;
    font-family: Roboto;
}
.home_login input[type=text]{
    padding-left: 13px;
    color: white;
    font-family: "Roboto";
    font-size: 14px;
}
.home_login h4{
    color: white;
}
.signup-logo{
    color: #ff9600;
    font-family:  "Poppins" !important;
    font-weight: 300;
    letter-spacing: 0px;
}
.select_area > div{
    height: 33px;
    width: 100%;
    border: 1px solid #fff;
    background-color: transparent;
    color: white;
    font-size: 14px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin-top: 10px;
}
.select_area > div:hover{
    background-color: #ff9600;
    border: transparent;
}
.logo_link{
    color: white;
    text-align: right;
    display: flex;
    justify-content: end;
    line-height: 50px;
    font-family: "Roboto";
    font-size: 10px;
}
.gg{
    margin-top: 20px;
}
.home_hot > div{
    width: 100%;
    height: auto;
    /* padding: 30px 20px; */
}
/* =============================== SYLING THE TEXTS ========= */
.hot_text p, h1 {
    padding-left: 40px;
    padding-right: 40px;
}
.hot_text  ul{
    padding-left: 60px;
}
.create-account{
    margin-left: 30px;
}
.apply{
    height: 34px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: white;
    font-family: "Roboto";
    text-transform: uppercase;
    margin-top: 50px;
    width: 100%;
    background-color: #ff9600;
    display: flex;
}
.home_hot h1{
    font-family: "Lilita One";
    color: black;
    font-size: 37px;
    line-height: 41px;
}
.home_hot p{
    font-family: "Roboto";
    color: black;
    padding-top: 12px;
    font-size: 15px;
    line-height: 26px;
}
.create-account{
    width: 39%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Lilita One";  
    background-color: #ff9600;
    height: 43px;
    margin-top: 20px;
}
.hot_text{
    width: auto;
}
/* .hot_text ul{
    padding-left: 20px;
    padding-top: 20px;
} */
.hot_text ul li{
    list-style: circle;     
    padding-top:5px;
    font-family: "Roboto";
    font-size: 14px;
}



@media screen and (max-width: 789px){
   .home_hot{
       display: block;
   }
   .home_hot{
    padding:10px 0px;
  }
  .meet_text{
      text-align: center;
    line-height: 30px;
    padding:90px 50px 0px 50px;
}
.home_hot img{
    margin-top: 30px;
}
.home_hot h1 {
    font-family: "Lilita One";
    color: black;
    font-size: 30px;
    line-height: 34px;
    padding-top: 16px;
}
.create-account {
    width: 60%;
}
.home_container{
    justify-content:start;
}
.home_login{
    width: 100%;
}
.meet_container {
        padding: 10px 20px 30px 20px
}
.meet_text {
    padding: 0px 20px 0px 10px;
    font-size: 14px;
    line-height: 20px;
}
}

